.jumbotron{
    border-radius: 0 !important;
}

/* home page css */

/* about page */
#about-title{
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 70px;
}

#about{
    color: rgb(49, 49, 49);
}

.taj{
    height: 260px;
}

.pups{
    height: 260px;
}

/* portfolio page */


/* resume page */
.resume {
    height: 100%;
    width: 100%;
}

#resume-title{
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 70px;
}

#resume-title-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
}

.pdf{
    color: white !important;
}

@media only screen and (max-width: 991px) {
    /* about page */

    
  }

  @media only screen and (max-width: 768px) {
      /* about page */
      
  }

  @media only screen and (max-width: 521px) {
      /* home page */
      .title{
        font-size: 60px;
      }

        /* about page */
        #about-title{
            min-height: 200px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: white;
            font-size: 60px;
        }

        /* resume page */
        #resume-title{
            min-height: 200px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: white;
            font-size: 60px;
        }

  }